*{
	margin:0;
	padding:0;
}
html,body{
	height:100%;
}
a{
	text-decoration:none;
}
@function num($n){
	@return $n/20;
}
h1,h2,h3,h4{
	font-size:num(12rem);
	font-weight:normal;
}
ul li{
	list-style:none;
}