@import 'layout.scss';
body{
	height:auto;
	width:100%;
	background:#f6f6f6;
}
	
.hot{
	height:num(286rem);
	width:100%;
	overflow:hidden;
	margin-bottom:num(8rem);
}
.hotTitle{
	height:num(28rem);
	background:white url(../img/index_hotTitle.png) no-repeat num(95rem) num(12rem);
	background-size:num(131rem) num(4rem);
	overflow:hidden;
	p{
		height:num(14rem);
		width:num(52rem);
		font-size:num(11rem);
		color:#333;
		margin-top:num(5rem);
		margin-left:num(135rem);
	}
}
.hotgoods{
	height:num(258rem);
}
.hot_list{
	height:num(80rem);
	padding:num(3rem) num(3rem);
	background:white;
}
.hotSon{
	height:num(80rem);
	width:num(78rem);
	background:white;
	float:left;
	list-style:none;
	img{
		display:block;
		height:num(60rem);
		width:num(60rem);
		float:left;
		margin:num(2rem) num(7rem);
	}
	p{
		height:num(12rem);
		width:100%;
		text-align:center;
		font-size:num(11rem);
		color:#333;
		float:left;
	}
}
.new{
	height:num(126rem);
}
.newgoods{
	height:num(98rem);
}
.like{
	height:auto;
	width:100%;
	overflow:hidden;
	background:#f6f6f6;
}
.likeTitle{
	@extend .hotTitle;
	background:url(../img/index_hotTitle.png) no-repeat num(95rem) num(12rem);
	background-size:num(131rem) num(4rem);
	margin-bottom:num(7rem);
}
.likegoods{
	height:auto;
	width:100%;
	background:white;
}
.like_list{
	height:num(264rem);
	width:100%;
}
.likeSon{
	height:num(264rem);
	width:num(151rem);
	float:left;
	list-style:none;
	margin-left:num(6rem);
	margin-bottom:num(1rem);
}
.likeSon_a{
	height:num(197rem);
	width:num(151rem);
	background:white url(../img/index_like1.png) no-repeat;
	background-size:num(151rem) num(197rem);
	border-top-left-radius:num(2rem);
}
.likeSon_b{
	height:num(67rem);
	width:100%;
	padding:num(6rem) num(8rem) num(6rem) num(7rem);
	box-sizing:border-box;
}
.Son1{
	overflow:hidden;
	span{
		height:num(16rem);
		width:auto;
		background:#eff3f6;
		font-size:num(12rem);
		color:#999;
		float:left;
		text-align:center;
		padding-top:num(1rem);
		margin-bottom:num(5rem);

	}
	span:nth-child(odd){
		margin-right:num(3rem);
	}
	span:nth-child(even){
		margin-right:num(2rem);
	}
	span:nth-child(1){
		background:#f9e4a8;
		color:#333;
	}
}
.Son2{
	overflow:hidden;
	height:num(18rem);
	width:100%;
	span:nth-child(1){
		float:left;
		font-size:num(10rem);
		font-weight:bold;
		color:#333;
	}
	img{
		float:right;
		height:num(10rem);
		width:num(10rem);
		padding-top:num(2rem);
	}
	span:nth-child(3){
		float:right;
		font-size:num(10rem);
		margin-right:num(4rem);
		color:#999;
	}
}

.likegenre{
	height:num(30rem);
	background:#ff0077;
}
.genrelist{
	height:num(30rem);
	width:auto;
	background:#ff0077;
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;
}
.genreshow{
	display:inline-block;
	height:num(30rem);
	width:num(64rem);
	margin-right:num(5rem);
	font-size:num(12rem);
	color:white;
	line-height:num(30rem);
	text-align:center;
}
