
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501814517156'); /* IE9*/
  src: url('iconfont.eot?t=1501814517156#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501814517156') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501814517156') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501814517156#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before { content: "\e600"; }

.icon-jiantou1you:before { content: "\e635"; }

.icon-twitter:before { content: "\e638"; }

.icon-iconanalytics:before { content: "\e60b"; }

.icon-play:before { content: "\e642"; }

.icon-facebook:before { content: "\e6d9"; }

.icon-wujiaoxing-copy:before { content: "\e603"; }

.icon-in:before { content: "\e631"; }

.icon-shangjia:before { content: "\e652"; }

.icon-ibm:before { content: "\e61e"; }

.icon-liebiao:before { content: "\e616"; }

.icon-1:before { content: "\e703"; }

.icon-wode:before { content: "\e651"; }

.icon-fangdajing:before { content: "\e674"; }

.icon-toparrow:before { content: "\e602"; }

.icon-icon-test:before { content: "\e610"; }

.icon-cloud:before { content: "\e89a"; }

.icon-infrastructure:before { content: "\e658"; }

.icon-bofang:before { content: "\e62b"; }

.icon-jiantouxia:before { content: "\e605"; }

.icon-duihuaqipao:before { content: "\e601"; }

